progress {
    width: 100%;
}


.timebar {
    width: 95%;
}


html,
body {
    margin: 0;
    font-family: 'Lato';
    transition: 0.4s;
    color: white;
    background-color: black;
}

.main-controls {
    font-size: 45px;
    cursor: default;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    display: flex;
}

.main-controls a {
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.13);
}

.main a {
    font-size: 40px !important;
}

.main-controls a:hover {
    color: rgb(189, 201, 207);
}

.left {
    width: 15%;
}
.right {
    width: 15%;
}

.info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.img {
    text-align: center;
}

.volume {
    text-align: center;
    width: 15%;
    display: inline;
    height: fit-content;
}

.volume input {
    width: 100%;
}

.volume p {
    margin: 0;
}

.bars {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.progress {
    width: 100%;
}
.time-wrapper {
    display: flex;
    width: 95%;
    margin-left: 5px;
    justify-content: space-between;
}

.show {
    display: block;
}

.bottom-controls {
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 25px;
    background-color: rgb(26, 26, 26);
}